<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
</head>
<body>
	<h1><%if(warning && warning.length > 0){%>
			<%=warning%>
		<%}%></h1>
	<form action="/register" method="POST">
		<input type="email" name="username">
		<input type="password" name="password">
		<button>Register</button>
	</form>
	<a href="/auth/github">GITHUB</a>
	<a href="/auth/google">GOOGLE</a>
	<a href="/auth/facebook">FACEBOOK</a>
	<a href="/profile">PROFILE</a>
</body>
</html>